*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.appear{
  animation: appear .8s forwards linear;
  -webkit-animation: appear .8s forwards linear;
}

/* ---------------------HEADER------------------- */

header{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div.bgc-image{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background-image: url('./images/bgc-header.png');
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

header div.bgc-image div.color{
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, .4);
}

header div.first-desc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header div.first-desc h2{
  font-size: 4rem;
  color:#fff;
  margin-top: 20px;
  font-weight: 200;
}

/* ---------------------SECTIONS---------------- */
section{
  width:100%;
  min-height: 90vh;
  opacity: 0;
}

section h2{
  font-size: 4rem;
  font-weight: 200;
}

/* ---------------------ABOUT---------------- */
section.about{
  width:90%;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section.about div.desc {
  width:600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.about div.desc h2{
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 50px;
}

section.about div.desc p{
  font-size: 3rem;
  font-weight: 200;
}

section.about div.icon-image{
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.about div.icon-image img{
  width:400px;
  height: auto;
}

/* ---------------------SKILLS---------------- */
section.skills{
  min-height: 60vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 100px;
}



section.skills div.icons{
  width:90%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.skills div.icons img{
  width:100px;
  height: auto;
  margin-right: 50px;
  transition: .2s;
}

section.skills div.icons img:hover{
  opacity: .7;
}

/* ---------------------PROJECTS---------------- */
section.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.projects h2{
  margin-bottom: 80px;
}

section.projects div.wrapProjects{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.projects div.wrapProjects div.project{
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 20px;
  position: relative;
}

section.projects div.wrapProjects div.project:nth-child(1){
  background-image: url('./images/removals.png');
}

section.projects div.wrapProjects div.project:nth-child(2){
  background-image: url('./images/find-image.png');
}

section.projects div.wrapProjects div.project:nth-child(3){
  background-image: url('./images/curiosities.png');
}

section.projects div.wrapProjects div.project:nth-child(4){
  background-image: url('./images/DjWebsite.png');
}

section.projects div.wrapProjects div.project:nth-child(5){
  background-image: url('./images/quiz.png');
}

section.projects div.wrapProjects div.project div.desc{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 0;
  border-radius: 20px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

section.projects div.wrapProjects div.project div.desc p{
  color:#222;
  font-size: 0;
}

section.projects div.wrapProjects div.project div.desc img{
  width: 0;
  height: 0;
}

section.projects div.wrapProjects div.project:hover div.desc{
  height: 100%;
  background-color: rgba(250, 250, 250, .9);
}

section.projects div.wrapProjects div.project:hover div.desc p{
  font-size: 1.8rem;
}

section.projects div.wrapProjects div.project:hover div.desc img{
  width:40px;
  height: auto;
  border: 2px solid #222;
  border-radius: 35%;
  padding: 5px;
}

/* ---------------------CONTACT---------------- */
section.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.contact h2{
  margin: 100px 0;
}

section.contact div.data-image{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.contact div.data-image img{
  width:400px;
  height: auto;
  border-radius: 50%;
  margin-right: 100px;
  margin-bottom: 50px;
}

section.contact div.data-image div.data{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

section.contact div.data-image div.data p{
  font-size: 2.5rem;
  font-weight:200;
  margin-bottom:25px;
}

section.contact div.data-image div.data p a{
  text-decoration: none;
  color:#222;
  transition: .2s;
  text-decoration: underline;
}

section.contact div.data-image div.data p a:hover{
  opacity: .7;
}

section.contact div.data-image div.data p span.name{
  font-size: 2rem;
  font-weight: 400;
  padding: 0 25px 0 0;
  text-transform: uppercase;
}

/* ---------------------SIDEBAR---------------- */
aside{
  position: fixed;
  left: 0;
  bottom:15%;
  z-index: 5;
  width: 30px;
  /* height:10px; */
  transform: rotate(-90deg);
}

aside p{
 font-size: 1.5rem;
 text-transform: uppercase;
 position: relative;
}

aside div{
  position: absolute;
  top:50%;
  left:250%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: #222;
  z-index: 9999;
  opacity: 0;
}


/* ---------------------ANIMATIONS---------------- */
@-webkit-keyframes appear{
  0%{
      opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
@keyframes appear{
  0%{
      opacity: 0;
  }

  100%{
    opacity: 1;
  }
}